params {
  help = false

  // Output directory
  outdir = './results'

  // Reference genome to map against when looking for iSNV
  reference = false 

  // Either input reads as a glob pattern or as a tab delimited file
  reads = false
}

profiles {
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'FASTQC'          { time = '24h'; memory = '128 GB'; cpus = 12; env.JAVA_TOOL_OPTIONS='-Xmx100g'; publishDir = "${params.outdir}/fastqc" }
  withName: 'MULTIQC'         { publishDir = "${params.outdir}/multiqc" }
  withName: 'BWAMEM2_INDEX'   { publishDir = "${params.outdir}/bwamem2_index" }
  withName: 'BWAMEM2_MEM'     { publishDir = "${params.outdir}/bwamem2_mem" }
  withName: 'MY_SAMTOOLS_VIEW' { publishDir = "${params.outdir}/mysamtools" }
  withName: 'GET_REFERENCE_NAMES' { publishDir = "${params.outdir}/refname" }
  withName: 'VIRAL_CONSENSUS' { publishDir = "${params.outdir}/viral_consensus" }
}

manifest {
    name = 'j23414/unnamed'
    description = "Minor variant analysis pipeline tuned for our needs"
    version = "0.0"
}