params {
  help = false

  // Output directory
  outdir = './results_nf'

  // Reference genome to map against when looking for iSNV
  reference = false 

  // BAM from illumina aligned to reference
  bam = false
}

profiles {
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'FASTQC'          { time = '24h'; memory = '128 GB'; cpus = 12; env.JAVA_TOOL_OPTIONS='-Xmx100g'; publishDir = "${params.outdir}/fastqc" }
  withName: 'MY_SAMTOOLS_VIEW'    { publishDir = [ path: "${params.outdir}/mysamtools", mode: 'copy'] }
  withName: 'GET_REFERENCE_NAMES' { publishDir = [ path: "${params.outdir}/refname", mode: 'copy' ] }
  withName: 'VIRAL_CONSENSUS'     { publishDir = [path: "${params.outdir}/viral_consensus", mode: 'copy'] }
}

manifest {
    name = 'j23414/unnamed'
    description = "Minor variant analysis pipeline tuned for our needs"
    version = "0.0"
}