params {
  help = false

  // Output directory
  outdir = './align-results'

  // Reference genome to map against when looking for iSNV
  reference = false

  // Either input reads as a samplesheet (csv) with headings "sample","R1","R2" or a glob pattern
  samplesheet = false
  reads = false

  // Get top hit on gene coverage for the segments, segment names must be in reference header
  segments = 'HA NA PB2 PB1 PA NP MP NS'

  // Allow alignment to complete for valid samples even if one or more samples fail
  bwamem2_mem_error_strategy = 'ignore' // 'ignore' or 'terminate'
  bwamem2_mem_cpus = 8
  bwamem2_mem_time = '4h'
  bwamem2_mem_memory = '128 GB'

  samtools_coverage_error_strategy='ignore' // 'ignore' or 'terminate'

  plot_depth=false
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'COUNT_READS'         { publishDir = [ path: "${params.outdir}/countreads", mode: 'copy'] }
  withName: 'BWAMEM2_INDEX'       { publishDir = [ path: "${params.outdir}/bwamem2_index", mode: 'copy'] }
  withName: 'BWAMEM2_MEM'         {
    errorStrategy = params.bwamem2_mem_error_strategy
    cpus = params.bwamem2_mem_cpus
    time = params.bwamem2_mem_time
    memory = params.bwamem2_mem_memory
    publishDir = [ path: "${params.outdir}/bwamem2_mem", mode: 'copy']
  }
  withName: 'SAMTOOLS_INDEX'       { publishDir = [ path: "${params.outdir}/samtools_index", mode: 'copy'] }
  withName: 'SAMTOOLS_DEPTH'       { publishDir = [ path: "${params.outdir}/samtools_depth", mode: 'copy'] }
  withName: 'SAMTOOLS_COVERAGE'   {
    errorStrategy = params.samtools_coverage_error_strategy;
    publishDir = [ path: "${params.outdir}/samtools_coverage", mode: 'copy']
  }
  withName: 'PLOT_DEPTH' {
    module = "R/4.4.0"
    publishDir = [ path: "${params.outdir}/plot_depth", mode: 'copy']
  }
}

trace {
    enabled = true
    file = "$params.outdir/trace.txt"
}

manifest {
    name = 'j23414/illumina-align'
    description = "A modular workflow for aligning Illumina sequencing data and summary statistics prior to downstream analysis."
    version = "0.0"
    mainScript = 'main.nf'
}